@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN MENU</li>
    @Html.Raw(HttpContextAccessor.HttpContext.Session.GetString("menuString"))
</ul>